@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital Web App</h1>
    <p>This app is to test Create, Read, Update, Delete functions</p>
</div>
