@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        <h2>Privacy Statement for Sai Web App</h2>
        At Sai Web App, we are committed to protecting your privacy and ensuring the security of your personal information. This privacy statement outlines how we collect, use, and safeguard your data when you use our web app.
        <ul>
            <li>Data Collection and Usage:</li>
            <p>
                When you use our web app, we collect information such as your name, contact details, medical history, and appointment preferences.
                We use this data to facilitate appointment scheduling, provide access to medical records, and improve our services.
            </p>
            <li>Security Measures:</li>
            <p>
                We employ industry-standard security protocols to protect your data. This includes encryption, firewalls, and regular security audits.
                Access to patient information is restricted to authorized personnel only.
            </p>
            <li>Third-Party Services:</li>
            <p>
                Our web app may integrate with third-party services (e.g., payment gateways). These services handle data securely and comply with privacy regulations.
            </p>

            <li>User Rights:</li>
            <p>
                You have the right to access, update, and delete your personal information. Contact our privacy officer for assistance.
                We retain your data only as long as necessary for the purposes outlined in this statement.
            </p>
            <li>Contact Information:</li>
            <p>
                If you have any questions or concerns about your privacy, please contact our privacy officer at privacy@sai.com.
            </p>
        </ul>


        Thank you for trusting Sai Web App with your healthcare needs. Your privacy is our priority.
    </p>
</div>

